body{
  background-color: gainsboro;
  font-family:Arial, Helvetica, sans-serif
}
article{
  background-color: whitesmoke;
}
header {
  text-align: center;
}
main{
  justify-content: center;
}
* {
  box-sizing: border-box;
}

/* INFOCARD CSS */

.infocard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.infocard {
  font-family: "Oswald", sans-serif;
  background: gainsboro;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-in-out;
}

.infocard:hover {
  background-color: #2B398F;
}

.infocard img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 3.0rem;
  object-fit: cover;
  border-radius: 3.5rem;
  transition: transform 0.5s ease-in-out;
}
.infocard:hover img {
  transform: scale(1.1); 
}

.infocard h1, .infocard h3 {
    margin: 0;
    padding: 1.0rem;
    white-space: normal;
    font-size: 1.5em;
    transition: transform 0.5s ease-in-out;
}

.infocard:hover h1, .infocard:hover h3 {
  color: #fff;
}

@media (max-width: 768px) {
  .infocard {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .infocard img {
    border-radius: 0;
    min-width: 50%;
  }

  .infocard h1, .infocard h3 {
    padding: 1rem;
    white-space: normal;
  }}

  /* Tubo Logo CSS */

.tubo {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  padding: 2rem;
  margin-bottom: 5rem;
}

.tubo img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .tubo img {
      width: 100%;
      height: auto;
      max-width: none;
      max-height: none;
  }
}

/* NAVIGATION CSS */

.navigation nav ul{
  text-align: center;
  margin-bottom: 5rem;
}
.navigation ul li{
  list-style-type: none;
  display: inline;
}

.navigation ul li a {
  border-style: solid;
  background-color: #2B398F;
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
  margin: 20px;
  padding: 20px;
  display:inline-block;
  text-decoration: none;
}

.navigation ul li:nth-child(3) a {
  background-color: rgb(255, 106, 0);
  color: white
}

.navigation ul li a:hover {
  background: gainsboro;
  transition: 0.5s ease;
}

/* Portfolio Header */

.portfolioheader {
  text-align: center;
  font-family: "Anton", sans-serif;
  color: #2B398F;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #2B398F;
  margin: auto;
  width: 75%;
}

/* About Me Section */

#about {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.aboutmeheader {
  text-align: left;
  margin-right: 20px;
  font-family: "Anton", sans-serif;
  color: #2B398F;
}

.aboutmeheader h1 {
  color: #2B398F;
  font-size: 2em;
  padding: 1rem;
}

.aboutmebody p {
  font-size: 1.1em;
  line-height: 1.5;
  color: #333;
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
}

.aboutmebody {
  flex-grow: 1;
}

.aboutmebody table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  color: #333;
  border: 2px solid #2B398F;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
}

.aboutmebody th, .aboutmebody td {
  padding: 15px;
  text-align: left;
}

.aboutmebody th {
  background-color: #2B398F;
  color: #fff;
}

.aboutmebody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.aboutmebody tr:hover {
  background-color: #ddd;
}

.aboutmebody td {
  border-bottom: 1px solid #ddd;
}

.aboutmebody td:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  #about {
    padding: 10px;
  }

  .aboutmebody p {
    font-size: 1em;
  }
}

/* Workplace Button CSS */

#projects {
  background-color: #f8f8f8;
  padding: 20px;
}

.workheader {
  text-align: center;
  color: #2B398F;
  font-family: "Anton", sans-serif;
  font-size: 2rem;
}

.workparagraph {
  text-align: center;
  margin-top: 1.5em;
}

.workplacebuttons {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
  overflow-x: auto;
}

.workplacebuttons li {
  margin: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}

.button-milkrun {
  background-color: grey;
}

.button-birdesc {
  background-color: black;
}

.button-boathouse {
  background-color: #32CD32;
}

.button-timhortons {
  background-color: red;
}

.button:hover {
  background-color: #2B398F;
}

@media (max-width: 768px) {
  .button {
    min-width: auto;
    width: 100%;
  }
  .workplacebuttons {
flex-wrap: wrap;
  }
}

/* School Gallery */

#school{
  text-align: center;
  font-size: 2rem;
}

.schoolgallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin: 20px;
}

.schoolworkheader {
  font-family: "Anton", sans-serif;
  color: #2B398F;
  padding: 3rem;
}

.schoolgallery div {
  flex: 0 0 calc(33.33% - 20px);
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.schoolgallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .schoolgallery {
    flex-wrap: wrap;
  }

  .schoolgallery div {
    flex: 0 calc(50% - 1px);
    margin-bottom: 20px;
  }
}
/* Social Buttons */

.socialscontainer {
  background-color: whitesmoke;
  padding: 20px;
}

.socials {
  text-align: center;
  font-size: 2rem;
}

.socials h1 {
  font-family: "Anton", sans-serif;
  color: #2B398F;
}

.social-buttons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-buttons li {
  display: inline-block;
}

.social-buttons a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2B398F;
  transition: color 0.5s ease;
}

.linkedin-button {
  width: 40px;
  height: 40px;
  fill: lightskyblue;
  transition: fill 0.5s ease;
}

.instagram-button {
  width: 40px;
  height: 40px;
  fill: pink;
  transition: fill 0.5s ease;
}

.social-buttons a:hover .linkedin-button,
.social-buttons a:hover .instagram-button {
  fill: #2B398F;
}